#spice_display {
	display: block;
	text-align: center;
	position: fixed;
	width: 150px;
	bottom: 45px;
	height: 200px;
	right: 15px;
	border: 1px solid rgba(204, 204, 204, 0.5);
	border-radius: 5px;
	background: #f7f7f7;
	overflow-y: hidden;
	z-index: 2147483647;
}

#spice_display #spice_sentence{
	color: #0000cc;
}
#spice_display #spice_history{
	color: #00cc00;
}
#spice_display #spice_done{
	color: #cccccc;
}