body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #71716c;
    padding: 20px;
    line-height: 1.8;
    font-size: 18px;
}

.header-img {
    max-height: 400px;
    overflow: hidden;
}

.container {
    text-align: justify;
    margin: 0px auto;
    width: 620px;
}
header {
    background-color: #333333;
    padding: 20px;
    margin: 20px 0px;
    line-height: 1.3;
}
h1 {
    color: #f7f7f7;
    font-size: 2.667em;
    margin: 0px;
}
h2 {
    color: #71716c;
    font-size: .8em;
    font-weight: normal;
    margin: 0px;
}
p {
    padding: 5px;
}

.container p:first-of-type {
    font-size: 1.334em;
}

.img-container {
	text-align: center;
}
img {
	width: 100%;
	height: auto;
}

footer {
    width: 620px;
    margin: 0px auto;
	text-align: left;
	font-size: 0.8em;
}